.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bgimg img{
  border-radius: 300px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.aboutImg{
  opacity: 85%;
}

.App-link {
  color: #61dafb;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(7, 177, 245); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(5, 212, 248); }
}
.bttn:hover{
  background-color: rgba(116, 115, 115, 0.384);
  border: 2px solid silver;
}
.aboutMe img{
  opacity: 70%;
  border-radius: 360px;
  
}
.head{
  background-image: url(https://i.ibb.co/vmcjKyT/d278c78f03859a337392b627794544bb.gif);
}
.foot{
  background-color: #00002c8c;
}
.bg{
  background-image:url(https://i.ibb.co/cx5CX7Y/Inferior-Flowery-Bettong.webp);
  /* background-image:url(https://i.ibb.co/HHhLvq3/58359e76f4025d718bfa15904728ea4c.jpg); */
}
.bgBanner{

}
.prj{
  border-end-end-radius: 120px;
  border-top-left-radius: 120px;
}
.prj:hover{
  border: 3px solid darkblue;
 
  background-image:url(https://i.ibb.co/TRGvFL6/tumblr-opno5n-ZGCT1vsjcxvo1-r1-540.gif);
  /* background-image:url(https://i.ibb.co/HHhLvq3/58359e76f4025d718bfa15904728ea4c.jpg); */

}

.footerIcon img{
  width: 30px;
}
.contact{
  border: 2px solid silver;
}
.projectImg{
  width: 80%;
  margin: 20px;
}
.prjImg img{
  width: 100%;
}
.project:hover{
  transform: scale(1.02);
  /* border: 1px solid silver; */
  box-shadow: 3px 3px 20px 3px silver;
  transition: transform .2s linear;
}
.skills:hover{
  transform: scale(1.02);
  transition: transform .2s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
