.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bgimg img{
  border-radius: 60px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.aboutImg{
  opacity: 85%;
}

.App-link {
  color: #61dafb;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(7, 177, 245); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(5, 212, 248); }
}
.bttn:hover{
  background-color: rgba(122, 1, 1, 0.815);
  border: 2px solid rgb(40, 12, 197);
}
.aboutMe img{
  opacity: 80%;
  background-color:#0e3e664d;
  width: 200px;
  height: 200px;
  border-radius: 360px;
  
}
.head{
  /* background-image: url(https://i.ibb.co/vmcjKyT/d278c78f03859a337392b627794544bb.gif); */
  background-color: #0e3e664d;
}
.foot{
  background-color: #0e3e664d;
}
.bg{
  background-color: #000000;
  /* background-image:url(https://i.ibb.co/cx5CX7Y/Inferior-Flowery-Bettong.webp); */
  /* background-image:url(https://i.ibb.co/HHhLvq3/58359e76f4025d718bfa15904728ea4c.jpg); */
}

.prj{
 border-radius: 20px;
 background: linear-gradient(100deg, rgba(250, 0, 0, 0.479) 0%, rgba(0, 69, 97, 0.466) 55%);
 border: none;
 border-top-left-radius: 100px;

}


.footerIcon img{
  width: 30px;
}
.contact{
  border: 2px solid silver;
}
.projectImg{
  transform: rotate(-10deg);
  width: 300px;
  margin-top: 30px;
}
.prj:hover img{
  transform: scale(1.2);
  transition: transform .5s ease-in;
  
}
.prjImg img{
  width: 100%;
}
.project:hover{
  transform: scale(1.02);
  /* border: 1px solid silver; */
  box-shadow: 3px 3px 20px 3px silver;
  transition: transform .2s linear;
}
.skills:hover{
  transform: scale(1.02);
  transition: transform .2s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flame {
  from {
    transform: scale(1);
    opacity: 1.8;
  }
  to {
    transform: scale(1.1);
    opacity: 1;
  }
}
